.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid #e7e9fc;
}

.header-container .logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 76px;
}

.site-nav {
  margin-right: auto;
}

.site-nav-list {
  display: flex;
  gap: 40px;
}

.site-nav-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 500;
  color: #2e2f42;
}

.site-nav-link:hover,
.site-nav-link:focus,
.address-item-link:hover,
.address-item-link:focus {
  color: #404bbf;
}

.address-list {
  display: flex;
  gap: 40px;

  font-style: normal;
}

.address-item-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}
