/* -------------------GLOBAL------------------- */

:root {
    /* Text colors */
    --accent-color: #2196F3;
    --main-text-color: #212121;
    --second-text-color: #757575;
    --third-text-color: #FFFFFF;
    --fourth-text-color: rgba(255, 255, 255, 0.6);

    /* Block colors */
    --first-block-color: #2F303A;
    --second-block-color: #F5F4FA;
    --third-block-color: #FFFFFF;
}
body {
    font-family: "Roboto", sans-serif;
    flood-color: var(--main-text-color);
    background: var(--third-block-color);
    letter-spacing: 0.03em;
}

button {
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.link {
    text-decoration: none;
}

.list {
    list-style-type: none;
}

/* -------------------HEADER------------------- */

.logo-link {
    font-family: Raleway, sans-serif;    
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color);
}

.logo-right-header {
    color: var(--main-text-color);
}

.nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

.nav-link.current {
    color: var(--accent-color);
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
    color: var(--accent-color);
}

.contacts-link {
    color: var(--second-text-color);
}

/* -------------------HERO------------------- */

.hero {
    background-color: var(--first-block-color);
}

.hero-title {    
    font-weight: 700;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--third-text-color);
}

.hero-btn { 
    font-family: inherit;   
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    color: var(--third-text-color);
}

/* -------------------REASONS------------------- */

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }

  .reason-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--main-text-color);
  }

  .reason-content {
    font-size: 14px;
    line-height: 1.71;
    color: var(--second-text-color);
  }

 /* -------------------WORKS------------------- */ 

 .works-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--main-text-color);
 }

 /* -------------------TEAM------------------- */ 

 .team {
     background-color: var(--second-block-color);
 }

 .team-item {
    background-color: var(--third-block-color);
 }

 .team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--main-text-color);   
 }

 .team-person-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--main-text-color);
 }

.team-person-position {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--second-text-color);
} 

/* -------------------FOOTER------------------- */ 

.footer {
    background-color: var(--first-block-color);
}

.footer-logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color);
}

.logo-right-footer {    
    color: var(--third-text-color);
}

.footer-contacts {
    font-style: inherit;
}

.footer-address {
    font-size: 14px;
    line-height: 1.71;
    color: var(--third-text-color);
}

.footer-contact {
    font-size: 14px;
    line-height: 1.71;
    color: var(--fourth-text-color);
}

.footer-address:hover,
.footer-address:focus,
.footer-contact:hover,
.footer-contact:focus {
    color: var(--accent-color);    
}


/* ==========page PORTFOLIO========== */

/* -------------------PROJECTS------------------- */ 

.projects-filter-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

/* ВОПРОС: Не совсем понимаю, стоит ли это объеденить с нижним блоком,
    или так, как это немного другое - оставить отдельным блоком?  */
.projects-filter-btn.current {
    color: var(--third-text-color);
    background-color: var(--accent-color);
}

.projects-filter-btn:hover,
.projects-filter-btn:focus {
    color: var(--third-text-color);
    background-color: var(--accent-color);
}

.projects-item-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    color: var(--main-text-color);
}

.projects-item-content {
    font-size: 16px;
    line-height: 1.87;
    color: var(--second-text-color);
}